
.vs/

Referee/TestsCandidates.Referee/obj/

Domain/TestsCandidates.Domain/bin/

Domain/TestsCandidates.Domain/obj/

Domain/TestsCandidates.Domain.Tests/bin/

Domain/TestsCandidates.Domain.Tests/obj/

Referee/TestsCandidates.Referee/bin/
